nav{
    align-content: center;
    background-color: #333;
    padding-block: 10px;
    block-size: auto; 
}

.AFXWhite{
    color: white;
}

.ml-auto{
    margin-left: auto;
}

.itemJumbotron{
    
    margin: auto;
    padding: 5%;
    width: 40%;
    display:flex;
    flex-wrap: wrap;
}

.itempic{
    
    margin: auto;
    padding: 2%;
    width: 60%;
}

.imgmed{
    height: 70%;
}

.título{
    color: #333;
}

.form{
    display: inline-flex;
    align-content: space-between;
}


.Industrias{
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}

.Soluciones{
    display: flex;
    padding: 3%;
}

.Contactanos{
    background-color: whitesmoke;
    display: inline-block;
    padding: 3%;
    padding-right: 3%;
    width: 100%;
}

li{
    list-style: none;
}

@media  (max-width: 500px) {
    .item{
        background-color: gray;
        margin: auto;
        padding: 5%;
        width: 100%;
        display:flex;
        flex-wrap: wrap;
    }

    .imgmed{
        height: 100%;
    }

    .itempic{
        background-color: gray;
        margin: auto;
        padding: 2%;
        width: 100%;
    }

}


